{% extends '::base.html.twig' %}

{% block body %}
<form action="{{ path('etf1_oauth_server_client') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <a href="#" class="jslink">Add a uri</a>

    <input type="submit" />
</form>
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    {% javascripts
        '@Etf1OAuthServerBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}